.btn {
  background: $yellow;
  border: 0;
  box-shadow: $purple 4px 4px 0;
  color: $purple;
  cursor: pointer;
  padding: 0.5rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  &:hover {
    top: 1px;
    left: 1px;
    box-shadow: $purple 3px 3px 0;
  }
  &:active {
    top: 4px;
    left: 4px;
    box-shadow: none;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.btn.alt {
  background: $purple;
  color: $white;
  box-shadow: $white 4px 4px 0;
  &:hover {
    box-shadow: $white 3px 3px 0;
  }
  &:active {
    box-shadow: none;
  }
}
