.btn {
  background: $yellow;
  color: $purple;
  padding: 0.5rem;
  font-size: 1rem;
  box-shadow: $purple 4px 4px 0;
}

.btn.alt {
  background: $purple;
  color: $white;
  box-shadow: $white 4px 4px 0;
}
