.graph-container {
  height: 20rem;
  width: 100%;
  position: relative;
  background-size: cover;
}

.node {
  background: $yellow;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: bold;
  color: $white;
  text-shadow: $purple 2px 2px 0;
  animation-name: orbit;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.node-point {
  height: 2rem;
  width: 2rem;
  transition: 1s;
  &:hover {
    height: 3rem;
    width: 3rem;
  }
}

.node-label {
  position: absolute;
  top: 70%;
  font-size: 0.75rem;
}
