.graph-container {
  height: 20rem;
  width: 100%;
  position: relative;
  background-size: cover;
}

.node {
  align-items: center;
  animation-name: orbit;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: $white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: bold;
  justify-content: center;
  position: absolute;
  text-shadow: $purple 2px 2px 0;
  white-space: nowrap;
  &:hover .node-point {
    height: 3rem;
    width: 3rem;
  }
}

.node-point {
  border-radius: 100%;
  background: $yellow;
  border: $yellow 4px solid;
  height: 2rem;
  width: 2rem;
  transition: 1s;
}
