$white: #FFFFFF;
$yellow: #EFC319;
$purple: #2E1B36;
$purple-light: #412F48;
$purple-dark: #1A0F1E;
$purple-transparent: #2E1B366C;
$purple-dark-transparent: #1A0F1E6C;
// $purple-transparent: #2E1B36CC;
$black: #000000;
