.footer {
  background: $purple;
  padding: 2rem 0;

  .sub-link-list {
    padding: 0;
  }

  .sub-link {
    font-size: 0.75rem;
    list-style: none;
    margin-bottom: .5rem;
    white-space: nowrap;
  }
}

.footer-paragraph {
  font-size: 0.75rem;
  margin-top: 0;
}

.footer-logo-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  height: 2.5rem;
  margin: 2rem 2rem 2rem 0;
}