.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  box-shadow: 0 0 5px $purple;
  z-index: 5000;
  .link {
    font-family: 'Cantarell', sans-serif;
    text-shadow: $purple 2px 2px 0;
  }
}
.nav {
  overflow: hidden;
  // transition: 0.5s;
  // height: 2.5rem;
  max-height: 2.5rem;
  transition: max-height 0.5s ease-out;
  // transform: scaleY(2.5rem);
  &:hover {
    // transform: scaleY(1);
    // height: 100%;
    max-height: 1000px;
  }
}

.nav-bar {
  background: $purple;
  .nav-logo {
    height: 1.5rem;
  }
}

.sub-link-list-container {
  background: $purple-transparent;
  padding-bottom: 2rem;
  .sub-link-list {
    padding: 0;
  }
  .sub-link {
    font-size: 0.75rem;
    list-style: none;
    margin-bottom: .5rem;
    white-space: nowrap;
  }
}